<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>住所録登録</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/addedit.css}"></link>
<meta charset="UTF-8" />
</head>

<body>
	<h1>住所録管理システム：住所録登録</h1>
	<form th:action="@{/addcheck}" th:object="${inputForm}" method="post">
		<table class="table">
			<tr>
				<th class="cell_title">名前＊：</th>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<th class="cell_title">住所＊：</th>
				<td><input type="text" th:field="*{address}"></td>
			</tr>
			<tr>
				<th class="cell_title">電話番号：</th>
				<td><input type="text" th:field="*{tel}"></td>
			</tr>
		</table>
		<div class="btn2">
			<input type="submit" value="確認" class="btn">
			<input th:formaction="@{/back}" type="submit" value="戻る" class="btn">
		</div>
	</form>
	<!-- delete_flgはaddcheckからhiddenで送る -->

	<!-- エラー表示 -->
    <form>
		<div th:if="${errAll}">
			<ul style="list-style: none; border: 5px double #333333; width: 400px; padding: 10px; margin: 10px 50px;">
			<li th:if="${errAll[0]}"><span th:text="${errAll[0]}">errmsg</span></li>
			<li th:if="${errAll[1]}"><span th:text="${errAll[1]}">errmsg</span></li>
			<li th:if="${errAll[2]}"><span th:text="${errAll[2]}">errmsg</span></li>
			</ul>
		</div>
	</form>
</body>
</html>