<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>住所録一覧</title>
<link href="/css/index.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>

<body>
	<h1>住所録一覧</h1>

	<form th:action="@{/add}" method="POST">
		<input class="add-input" type="submit" value="新規登録">
	</form>

	<h1>住所録一覧</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>住所</th>
				<th>電話番号</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="jyusyoroku : ${jyusyolist}" th:object="${jyusyoroku}">
				<td class="center" th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{address}"></td>
				<td th:text="*{tel}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>